/* =====================================================
   DASHBOARD
===================================================== */

.dashboard-card{

    background:white;

    color:#333;

    padding:30px;

    border-radius:25px;

    text-align:center;

    box-shadow:
    0 10px 25px rgba(0,0,0,.15);
}

.dashboard-number{

    font-size:45px;

    font-weight:bold;

    color:#198754;
}

/* TABLA */

.table-container{

    overflow-x:auto;
}

.table-admin{

    width:100%;

    border-collapse:collapse;

    background:white;

    color:#333;

    border-radius:20px;

    overflow:hidden;
}

.table-admin th{

    background:#198754;

    color:white;

    padding:15px;
}

.table-admin td{

    padding:15px;

    border-bottom:1px solid #eee;
}

.table-admin tr:hover{

    background:#f8f8f8;
}

/* FOTO */

.user-photo{

    width:60px;
    height:60px;

    border-radius:50%;

    object-fit:cover;
}

/* ROLES */

.role-badge{

    background:#198754;

    color:white;

    padding:6px 12px;

    border-radius:20px;
}

/* BOTONES */

.btn-admin,
.btn-user,
.btn-delete{

    display:inline-block;

    padding:8px 14px;

    color:white;

    border-radius:10px;

    text-decoration:none;

    margin:2px;
}

.btn-admin{
    background:#198754;
}

.btn-user{
    background:#fd7e14;
}

.btn-delete{
    background:#dc3545;
}

