/* =====================================================
   TARJETAS
===================================================== */

.card-custom{

    background:white;

    color:#333;

    padding:35px;

    border-radius:25px;

    text-align:center;

    height:100%;

    transition:.3s;

    box-shadow:
    0 5px 15px rgba(0,0,0,.08);
}

.card-custom:hover{

    transform:
    translateY(-10px)
    scale(1.02);

    box-shadow:
    0 20px 40px rgba(0,0,0,.18);
}