/* =====================================================
   FOOTER PREMIUM
===================================================== */

.footer{

    margin-top:100px;

    background:rgba(0,0,0,.85);

    backdrop-filter:blur(15px);

    padding:70px 0 30px;

    border-top:1px solid rgba(255,255,255,.1);
}

.footer-logo{

    width:110px;

    margin-bottom:15px;

    transition:.4s;
}

.footer-logo:hover{

    transform:scale(1.08);
}

.footer h4{

    color:#64dd17;

    margin-bottom:20px;
}

.footer-links{

    list-style:none;
}

.footer-links a{

    color:white;

    text-decoration:none;
}

.footer-links a:hover{

    color:#64dd17;

    padding-left:8px;
}

.footer-line{

    margin:40px 0 20px;
}

.footer-copy{

    text-align:center;

    opacity:.8;
}